canvas {
    grid-area: 'canvas';
}

section {
    
    grid-area: 'section';
}

footer {
    grid-area: 'footer';
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 93vh 550px 100px;
    grid-template-areas: 
    'canvas'
    'section'
    'footer';
}

@media (max-width: 1660px) {
    
    section {
        height: 550px;
        width: 450px;
        

        #card1, #card2 {
            height: 150px;
            width: 350px;

            h2 {
                font-size: 18px;
            }
        }
    }
}